<!doctype html>
<html>
    <head>
        <title>Détail du vol du {{ vol.date }}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
        <div class="row"><p></p></div>
        <div class="row">
            <div class="col"></div>
            <div class="col-4">
                <div class="card" >
                    <div class="card-body text-center">
                        <h3 class="card-title">{{ vol.date }}</h3>
                        <h4 class="card-subtitle">{{ vol.depart }} <i class="fas fa-arrow-right"></i> {{ vol.arrivee }}</h4>
                    </div>
                    
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"> 
                            <div class="card-body text-center">
                                    <h5 class="card-title">Durées <i class="far fa-clock"></i></h5>
                                    <i class="far fa-sun text-warning"></i> {{ vol.duree_jour }}
                                    <i class="fas fa-moon text-primary"></i> {{ vol.duree_nuit }}
                            </div>
                        </li>
                        <li class="list-group-item"> 
                                <div class="card-body text-center">
                                    <h5 class="card-title"> IFR  
                                    {% if vol.vol_ifr %}
                                        <i class="fas fa-check-circle text-success"></i></h5>
                                        <i class="far fa-sun text-warning"></i> {{ vol.duree_ifr_jour }}
                                        <i class="fas fa-moon text-primary"></i> {{ vol.duree_ifr_nuit }}
                                    {% else %}
                                        <i class="fas fa-times-circle text-danger"></i>
                                    </h5>
                                    {% endif %}
                            </div>
                        </li>

                        <li class="list-group-item">Fonction : {{ vol.get_fonction_display }}</li>
                        <li class="list-group-item">Poste : {{ vol.get_poste_display }}</li>
                        <li class="list-group-item"> 
                                <div class="card-body text-center">
                                    <h5 class="card-title"> Simulateur  
                                    {% if vol.vol_simu %}
                                        <i class="fas fa-check-circle text-success"></i></h5>
                                        {{ vol.duree_simu }}
                                    {% else %}
                                        <i class="fas fa-times-circle text-danger"></i>
                                    </h5>
                                    {% endif %}
                            </div>
                        </li>
                        <li class="list-group-item">Observations : {{ vol.observation }}</li>
                    </ul>
                </div>
            </div>
            <div class="col-1"></div>
            <div class="col-3">
                <div class="card" >
                    <div class="card-body text-center">
                        <h3 class="card-title">Avion <i class="fas fa-plane"></i> </h3>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Immatriculation : {{ vol.immatriculation }}</li>
                        <li class="list-group-item">Type d'avion : {{ vol.immatriculation.type_avion }}</li>
                        <li class="list-group-item">Moteurs : {{ vol.immatriculation.type_avion.get_nb_moteurs_display }}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"><p></p></div>
        <div class="row">
                <div class="col-5"></div>
                <div class="col-2"><h1>Équipage</h1></div>
                <div class="col-5"></div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col-12">
                <div class="card-deck">
                    <div class="card text-white bg-dark">
                        <div class="card-body">
                            <h5 class="card-title">Commandant de bord</h5>
                            <p class="card-text">{{ vol.cdb }}</p>
                        </div>
                    </div>
                    <div class="card text-white bg-dark">
                        <div class="card-body">
                        <h5 class="card-title">Copilote</h5>
                        <p class="card-text">{{ vol.opl }}</p>
                        </div>
                    </div>
                    {% if vol.obs1 %}
                        <div class="card text-white bg-dark">
                    {% else %}
                        <div class="card text-muted bg-light border-style: dashed;">
                    {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">Observateur 1</h5>
                                {% if vol.obs1 %}
                                    <p class="card-text">{{ vol.obs1 }}</p>
                                {% else %}
                                    <p class="card-text">Absent</p>
                                {% endif %}
                            </div>
                        </div>
                    {% if vol.obs2 %}
                        <div class="card text-white bg-dark">
                    {% else %}
                        <div class="card text-muted bg-light border-style: dashed;">
                    {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">Observateur 2</h5>
                                {% if vol.obs2 %}
                                    <p class="card-text">{{ vol.obs2 }}</p>
                                {% else %}
                                    <p class="card-text">Absent</p>
                                {% endif %}
                            </div>
                        </div>
                    {% if vol.instructeur %}
                        <div class="card text-white bg-dark">
                    {% else %}
                        <div class="card text-muted bg-light border-style: dashed;">
                    {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">Instructeur</h5>
                                {% if vol.instructeur %}
                                    <p class="card-text">{{ vol.instructeur }}</p>
                                {% else %}
                                    <p class="card-text">Absent</p>
                                {% endif %}
                            </div>
                        </div>
                </div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row"><p></p></div>
    </div>
    </body>
</html>