{% extends "vol/base_homepage.html" %}

{% block active_nav %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'prices' %}">Tarifs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'documentation' %}">Documentation</a>
    </li>
{% endblock %}
{% block active_secondary_nav %}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-6 offset-3">
            <h1>Documentation</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 offset-3">
            {% lorem 3 p %}
        </div>
    </div>

{% endblock %}