{% extends "vol/base_homepage.html" %}
{% load i18n %}
{% load my_tags %}
{% block content %}

<div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">{% trans "Dashboard" %}</h1>
</div>

    <div class="row">
        <div class="col-md-12">
            <p class="lead">{% trans "Your pilot Dashboard" %}</p>
        </div>
        <div class="col-md-3">
            <div class="card">
            	<div class="card-header">
            		{% trans "Last flight"%}
            	</div>
				<div class="card-body">
					<h5 class="card-title">{% trans "Another title" %}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{% trans "Date of last fliht" %}</h6>
					<p class="card-text">{% trans "Date and other information about last flight" %}</p>
					<a href="{% url 'flight_list' %}" class="card-link">{% trans "Link to all the flights" %}</a>
				</div>
			</div>
		</div>
        <div class="col-md-3">
			<div class="card">
				<div class="card-header">
					{% trans "Amount of Pilots"%}
				</div>
				<div class="card-body">
					<h5 class="card-title">{% trans "Another title" %}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{% trans "Amount of pilots" %}</h6>
					<p class="card-text">{% trans "xxx pilots, Top pilot the pilot flew with" %}</p>
					<a href="#" class="card-link">{% trans "Link to all the pilots" %}</a>
				</div>
			</div>
		</div>
        <div class="col-md-3">
			<div class="card">
				<div class="card-header">
					{% trans "Amount of Airports"%}
				</div>
				<div class="card-body">
					<h5 class="card-title">{% trans "Another title" %}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{% trans "Amount of airports" %}</h6>
					<p class="card-text">{% trans "xxx airports, Top airport the pilot flew to and from" %}</p>
					<a href="#" class="card-link">{% trans "Link to all the airports" %}</a>
				</div>
			</div>
		</div>
        <div class="col-md-3">
			<div class="card">
				<div class="card-header">
					{% trans "Amount of planes"%}
				</div>
				<div class="card-body">
					<h5 class="card-title">{% trans "Another title" %}</h5>
					<h6 class="card-subtitle mb-2 text-muted">{% trans "Amount of planes" %}</h6>
					<p class="card-text">{% trans "xxx planes, Top plane the pilot flew with" %}</p>
					<a href="#" class="card-link">{% trans "Link to all the planes" %}</a>
				</div>
			</div>
		</div>


        </div>
    </div>

{% endblock %}