{% extends 'vol/base_no_container.html' %}
{% block title %} Nouveau pilote {% endblock %}
{% block content %}
 <div class="row">
    <div class="col"><h2 class="h4 mt-4 mb-4">Nouveau pilote</h2></div>
</div>
{% load widget_tweaks %}
    <form method="POST" class="post-form" id="new_pilote">{% csrf_token %}
        {{ form_pilote.non_field_errors }}



        <div class="form-row">
            <div class="form-group col-md-3">
                <div class="fieldWrapper">
                    {{ form_pilote.prenom.errors }}
                    {{ form_pilote.prenom.label_tag }}
                    {{ form_pilote.prenom|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="fieldWrapper">
                    {{ form_pilote.nom.errors }}
                    {{ form_pilote.nom.label_tag }}
                    {{ form_pilote.nom|add_class:"form-control" }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="save btn btn-primary">Enregistrer</button>
            </div>
        </div>

    </form>
{% endblock %}