{% extends 'vol/base_homepage.html' %}
{% load i18n %}
{% block title %} {% trans "New Pilot" %} {% endblock %}
{% block content %}

<div class="row">
    <div class="col"><h2 class="display-4 mt-4 mb-4">{% trans "New pilot" %}</h2></div>
</div>
{% load widget_tweaks %}
    <form method="POST" class="post-form" id="new_pilote">{% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-row">
            <div class="form-group col-md-3">
                <div class="fieldWrapper">
                    {{ form.prenom.errors }}
                    {{ form.prenom.label_tag }}
                    {{ form.prenom|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="fieldWrapper">
                    {{ form.nom.errors }}
                    {{ form.nom.label_tag }}
                    {{ form.nom|add_class:"form-control" }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="save btn btn-primary">{% trans "Save" %}</button>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col"><h2 class="display-4 mt-4 mb-4">{% trans "List of pilots" %}</h2></div>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-warning" role="alert">
                {% trans "It is impossible to delete a pilot linked to a flight. In order to delete a pilot, it is first necessary to delete or modify the linked flight(s)." %}
            </div>
        </div>
    </div>
    {% if pilots_list %}
        <div class="row">
            <div class="col">
                <table class="table table-striped table-bordered table-hover table-sm dt-responsive nowrap" id="table_id">
                    <thead>
                    <tr class="thead-dark">
                        <th scope="col">{% trans "Pilot" %}</th>
                        <th scope="col" style="width: 10%">{% trans "Actions" %}</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for pilote in pilots_list %}
                            <tr>
                                <td>{{ pilote }}</td>
                                    <td class="text-center">
                                        <a class="management_links" data-toggle="tooltip" data-placement="top" title="{% trans "Edit the pilot" %}" href="{% url 'edit_pilote' pk=pilote.pk %}">
                                            <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i></button>
                                        </a>
                                        <form action="{% url 'remove_pilote' pk=pilote.pk %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="pilote_id" value="{{ pilote.id }}" />
                                            {% for pilot in pilot_exists %}
                                                {% if pilote|stringformat:"s" == pilot.0|stringformat:"s" %}
                                                    {% if pilot.1 == True %}
                                                        <a class="text-danger management_links" data-toggle="tooltip" data-placement="top" title="{% trans "Unable to delete the pilot because a flight is linked to it" %}" onclick="return confirm('{% trans "Do you really want to delete this pilot?" %}')"><button type="submit" class="btn btn-secondary btn-sm" disabled><i class="far fa-trash-alt"></i></button>
                                                    {% else %}
                                                        <a class="text-danger management_links" data-toggle="tooltip" data-placement="top" title="{% trans "Delete the pilot" %}" onclick="return confirm('{% trans "Do you really want to delete this pilot?" %}')"><button type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                            </a>
                                        </form>
                                    </td>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>{% trans "There are no registered pilots. "%}</p>
    {% endif %}

{% endblock %}