{% extends "vol/base_homepage.html" %}

{% block prices %}
    <li class="nav-item">
        <a class="nav-link" href="/">Page d'accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'prices' %}">Tarifs</a>
    </li>
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <h1>Money money money</h1>
        </div>
        <div class="col-3"></div>
    </div>

    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            {% lorem 3 p %}
        </div>
        <div class="col-3"></div>
    </div>

{% endblock %}