{% extends 'vol/base_homepage.html' %}
{% load i18n %}
{% block title %} {% trans "User profile" %} {% endblock %}
{% block content %}

{{ form.media }}
{% load widget_tweaks %}
{% load static %}
{% load my_tags %}
{{ ProfileForm.media }}

{% block active_secondary_nav %}{% endblock %}

{% if user == "AnonymousUser" %}
    {% url 'login' as login_url %}
    <p>{% trans "Please {{ login_url }} to see this page." %}</p>

{% else %}
    {% if user.is_authenticated %}

        <div class="row">
            <div class="col"><h2 class="display-4 mt-4 mb-4">{% trans "User profile" %}</h2></div>
        </div>
        <div class="row">
            <div class="col-md-1">
                <a class="btn btn-outline-primary management_links" data-toggle="tooltip" data-placement="top" title="{% trans "Edit profile" %}" href="{% url 'edit_profile' username=user.username %}"><i class="fas fa-pencil-alt"></i></a>
            </div>
        </div>
    <hr>
        <div class="row">
            <div class="col-md-1">
                {% if user.profile.current_position == "PIC" %}
                    <img src="{% static 'vol/logo-pic.png' %}" alt="{{ user.profile.get_current_position_display }}" height="200">
                {% else %}
                    {% if user.profile.current_position == "FO" %}
                        <img src="{% static 'vol/logo-fo.png' %}" alt="{{ user.profile.get_current_position_display }}" height="200">
                    {% else %}
                        {% if user.profile.current_position == "INSTRUCT" %}
                            <img src="{% static 'vol/logo-instruct.jpg' %}" alt="{{ user.profile.get_current_position_display }}" height="200">
                        {% else %}
                            {% if user.profile.current_position == "RET" %}
                                <img src="{% static 'vol/logo-ret.jpg' %}" alt="{{ user.profile.get_current_position_display }}" height="200">
                            {% else %}
                                {% if user.profile.current_position == "OTHER" %}
                                    <img src="{% static 'vol/logo-other.png' %}" alt="{{ user.profile.get_current_position_display }}" height="200">
                                {% else %}
                                {% endif %}
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="col-md-6 offset-md-2">
                <h1>{{ user.first_name }} {{ user.last_name }}</h1>
                {% trans "E-mail address" %} : {{ user.email }} <br>
                {% get_verbose_field_name user.profile "client_type" as client_type %}
                {% get_verbose_field_name user.profile "current_position" as current_position %}
                {% get_verbose_field_name user.profile "employer" as employer %}
                {% get_verbose_field_name user.profile "language" as language %}

                {{ client_type }} : {%trans user.profile.get_client_type_display %} <br>
                {{ current_position }} : {{ user.profile.get_current_position_display }}<br>
                {{ employer }} : {%trans user.profile.employer %}<br>
                {{ language }} : {%trans user.profile.get_language_display %}<br>
            </div>
        </div>

    {% if is_modified %}
        <hr>
        <form class="post-form" method="post">
            {{ form.media }}
            {% load widget_tweaks %}
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-3">
                    <div class="fieldWrapper">
                        {{ user_form.first_name.errors }}
                        {{ user_form.first_name.label_tag }}
                        {{ user_form.first_name|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="fieldWrapper">
                        {{ user_form.last_name.errors }}
                        {{ user_form.last_name.label_tag }}
                        {{ user_form.last_name|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="fieldWrapper">
                        {{ user_form.email.errors }}
                        {{ user_form.email.label_tag }}
                        {{ user_form.email|add_class:"form-control" }}
                    </div>
                </div>
                <div class="form-group col-md-3">
                    <div class="fieldWrapper">
                        {{ profile_form.current_position.errors }}
                        {{ profile_form.current_position.label_tag }}
                        {{ profile_form.current_position|add_class:"form-control" }}
                    </div>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <div class="fieldWrapper">
                        {{ profile_form.employer.errors }}
                        {{ profile_form.employer.label_tag }}
                        {{ profile_form.employer|add_class:"form-control" }}
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-2">
                    <button type="submit" class="save btn btn-primary">{% trans "Save" %}</button>
                </div>
                <div class="form-group col-md-2">
                    <a href="{% url 'profile' user %}" class="btn btn-danger">{% trans "Cancel" %}</a>
                </div>
            </div>
        </form>
        {% endif %}
    {% else %}
    <p>Please {% url 'login' %} to see this page.</p>
    {% endif %}
{% endif %}

{% endblock %}
