{% extends 'vol/base_homepage.html' %}
{% block title %} Sommes {% endblock %}
{% block content %}

{% block active_secondary_nav %} {% endblock %}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}">Tous les vols</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'somme' %}">Totaux</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Ajouter</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'new_vol' %}">Vol</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'new_pilote' %}">Pilote</a>
          <a class="dropdown-item" href="{% url 'new_immatriculation' %}">Immatriculation</a>
          <a class="dropdown-item" href="{% url 'new_code_iata' %}">Aéroport</a>
          <a class="dropdown-item" href="{% url 'new_type_avion' %}">Type d'Avion</a>
        </div>
    </li>
</ul>

<div class="row">
    <div class="col"><h2 class="display-4 mt-4 mb-4">Totaux</h2></div>
</div>   

{% for type_avion, values in dict_somme_vols_total.items %}
    <div class="row">
        <div class="col-12">
            <table class="table table-sm">
                <thead  class="thead-dark">
                    <tr>
                        <th>{{ type_avion }}</th>
                        <th>CDB Jour</th>
                        <th>CDB Nuit</th>
                        <th>OPL Jour</th>
                        <th>OPL Nuit</th>
                        <th>DC Jour</th>
                        <th>DC Nuit</th>
                        <th>Inst Jour</th>
                        <th>Inst Nuit</th>
                        <th>Simu</th>
                        <th>Arrivée IFR</th>
                        <th>IFR</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Année en cours</th>
                        <td>{% if values.somme_vols_jour_cdb_cur_year.duree_jour__sum %}
                                {{ values.somme_vols_jour_cdb_cur_year.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_cdb_cur_year.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_cdb_cur_year.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_jour_opl_cur_year.duree_jour__sum %}
                                {{ values.somme_vols_jour_opl_cur_year.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_opl_cur_year.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_opl_cur_year.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_jour_dc_cur_year.duree_jour__sum %}
                                {{ values.somme_vols_jour_dc_cur_year.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_dc_cur_year.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_dc_cur_year.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_jour_inst_cur_year.duree_jour__sum %}
                                {{ values.somme_vols_jour_inst_cur_year.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_inst_cur_year.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_inst_cur_year.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_simu_cur_year.duree_simu__sum %}
                                {{ values.somme_vols_simu_cur_year.duree_simu__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_arrivee_ifr_cur_year.vol_ifr__sum|floatformat:"0" %}
                                {{ values.somme_vols_arrivee_ifr_cur_year.vol_ifr__sum|floatformat:"0" }}
                            {% else %}
                                0
                            {% endif %}</td>
                        <td>{% if values.somme_vols_ifr_cur_year.duree_ifr__sum %}
                                {{ values.somme_vols_ifr_cur_year.duree_ifr__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{{ values.liste_somme_vols_cur_year }}</td>
                    </tr>
                    <tr>
                        <th>Année précédente</th>
                        <td>{% if values.somme_vols_jour_cdb_last_year.duree_jour__sum %}
                                {{ values.somme_vols_jour_cdb_last_year.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_cdb_last_year.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_cdb_last_year.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_jour_opl_last_year.duree_jour__sum %}
                                {{ values.somme_vols_jour_opl_last_year.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_opl_last_year.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_opl_last_year.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_jour_dc_last_year.duree_jour__sum %}
                                {{ values.somme_vols_jour_dc_last_year.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_dc_last_year.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_dc_last_year.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_jour_inst_last_year.duree_jour__sum %}
                                {{ values.somme_vols_jour_inst_last_year.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_inst_last_year.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_inst_last_year.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_simu_last_year.duree_simu__sum %}
                                {{ values.somme_vols_simu_last_year.duree_simu__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_arrivee_ifr_last_year.vol_ifr__sum|floatformat:"0" %}
                                {{ values.somme_vols_arrivee_ifr_last_year.vol_ifr__sum|floatformat:"0" }}
                            {% else %}
                                0
                            {% endif %}</td>
                        <td>{% if values.somme_vols_ifr_last_year.duree_ifr__sum %}
                                {{ values.somme_vols_ifr_last_year.duree_ifr__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{{ values.liste_somme_vols_last_year }}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr class="table-primary">
                        <th>Total</th>
                        <td>{% if values.somme_vols_jour_cdb_total.duree_jour__sum %}
                                {{ values.somme_vols_jour_cdb_total.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_cdb_total.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_cdb_total.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_jour_opl_total.duree_jour__sum %}
                                {{ values.somme_vols_jour_opl_total.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_opl_total.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_opl_total.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_jour_dc_total.duree_jour__sum %}
                                {{ values.somme_vols_jour_dc_total.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_dc_total.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_dc_total.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_jour_inst_total.duree_jour__sum %}
                                {{ values.somme_vols_jour_inst_total.duree_jour__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_nuit_inst_total.duree_nuit__sum %}
                                {{ values.somme_vols_nuit_inst_total.duree_nuit__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_simu_total.duree_simu__sum %}
                                {{ values.somme_vols_simu_total.duree_simu__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{% if values.somme_vols_arrivee_ifr_total.vol_ifr__sum|floatformat:"0" %}
                                {{ values.somme_vols_arrivee_ifr_total.vol_ifr__sum|floatformat:"0" }}
                            {% else %}
                                0
                            {% endif %}</td>
                        <td>{% if values.somme_vols_ifr_total.duree_ifr__sum %}
                                {{ values.somme_vols_ifr_total.duree_ifr__sum }}
                            {% else %}
                                --:--:--
                            {% endif %}</td>
                        <td>{{ values.liste_somme_vols_total_total }}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endfor %}
{% endblock %}