{% extends 'vol/base_homepage.html' %}
{% block title %} Nouveau type d'avion {% endblock %}
{% block content %}

<div class="row">
    <div class="col"><h2 class="display-4 mt-4 mb-4">Nouveau type d'avion</h2></div>
</div>
{% load widget_tweaks %}
    <form method="POST" class="post-form" id="new_pilote">{% csrf_token %}
        {{ form.non_field_errors }}

        <div class="form-row">
            <div class="form-group col-md-3">
                <div class="fieldWrapper">
                    {{ form.type_avion.errors }}
                    {{ form.type_avion.label_tag }}
                    {{ form.type_avion|add_class:"form-control" }}
                </div>
            </div>
            <div class="form-group col-md-3">
                <div class="fieldWrapper">
                    {{ form.nb_moteurs.errors }}
                    {{ form.nb_moteurs.label_tag }}
                    {{ form.nb_moteurs|add_class:"form-control" }}
                </div>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group col-md-12">
                <button type="submit" class="save btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </form>


    <div class="row">
        <div class="col"><h2 class="display-4 mt-4 mb-4">Liste des types d'avions</h2></div>
    </div>
    {% if type_avion_list %}
        <div class="row">
            <div class="col">
                <table class="table table-striped table-bordered table-hover table-sm dt-responsive nowrap" id="table_id">
                    <thead>
                    <tr class="thead-dark">
                        <th scope="col" style="width: 45%">Type d'avion</th>
                        <th scope="col" style="width: 45%">Nombre de moteurs</th>
                        <th scope="col" style="width: 10%">Actions</th>
                    </tr>
                </thead>
                    <tbody>
                        {% for type_avion in type_avion_list %}
                            <tr>
                                <td>{{ type_avion.type_avion }}</td>
                                <td>{{ type_avion.nb_moteurs }}</td>
                                    <td class="text-center">
                                        <a class="management_links" data-toggle="tooltip" data-placement="top" title="Modifier le type d'avion" href="{% url 'edit_type_avion' pk=type_avion.pk %}">
                                            <button type="button" class="btn btn-primary btn-sm"><i class="fas fa-pencil-alt"></i></button>
                                        </a>
                                        <form action="{% url 'remove_type_avion' pk=type_avion.pk %}" method="post" style="display: inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="type_avion_id" value="{{ type_avion.id }}" />
                                            <a class="text-danger management_links" data-toggle="tooltip" data-placement="top" title="Supprimer le type d'avion" onclick="return confirm('Are you sure you want to delete this?')">
                                                <button type="submit" class="btn btn-danger btn-sm"><i class="far fa-trash-alt"></i></button>
                                            </a>
                                        </form>
                                    </td>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% else %}
        <p>Il n'y a pas de types d'avions enregistrés.</p>
    {% endif %}

{% endblock %}