{% extends "vol/base_no_container.html" %}

{% block content %}

<div class="container">
    <div class="row">
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
    </div>
    <div class="row">
        {% if next %}
            {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
    </div>

    <div class="row">
        <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
            <table>
                <tr>
                    <td><p>{{ form.username.label_tag }}</p></td>
                    <td><p>{{ form.username }}</p></td>
                </tr>
                <tr>
                    <td><p>{{ form.password.label_tag }}</p></td>
                    <td><p>{{ form.password }}</p></td>
                </tr>
            </table>

            <p><input type="submit" value="Login">
            <input type="hidden" name="next" value="{{ next }}"></p>

        </form>
    </div>
    <div class="row">
        {# Assumes you setup the password_reset view in your URLconf #}
        <p><a href="{# url 'password_reset' #}">Password lost?</a></p>
    </div>

</div>
{% endblock %}
